body{
    margin-top:10px;
    background:#f9f9f9;
}

#inputs {
    background:blue;
    width: 154.5px;
    /* position:absolute; */
    /* margin-top:10px; */
    color : blue;
    left: -6.5px;
}

#inputs2 {
    background:blue;
    width: 154.5px;
    color : blue;
    left: -6.5px;
}

#nostyle {
 
    list-style-type: none;
    
   
}
#nostyle2 {
 
    list-style-type: none;
   
}

#dispimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}

#dispvid {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
   
}

#editimg {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 20%; */
}

.preview{
    color : grey;
   
    
}

#tn{
    line-height: 1.5em;
    height: 3em;
    /* overflow:auto; */
    color :black;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
  white-space: nowrap;

  
}
#tn2{
    line-height: 1.5em;
    height: 3em;
    /* overflow:auto; */
    color :black;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
  white-space: nowrap;

  
}

.thumbnail{
    width: 100%;
    /* width: 50%; */
}


.slider {
    perspective: 1200px;
    padding-top: 5%;
    /* padding-right: 50%; */
}

.spinner{
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
}

.spinner iframe{
    height:300px;
    width:400px;
    position:absolute;
    left:17%;
    transform-origin: 50% 50% -500px;
    outline: 1px solid transparent;
}

.spinner iframe:nth-child(1) { transform: rotateY(0deg)}
.spinner iframe:nth-child(2) { transform: rotateY(-45deg)}
.spinner iframe:nth-child(3) { transform: rotateY(-90deg)}
.spinner iframe:nth-child(4) { transform: rotateY(-135deg)}
.spinner iframe:nth-child(5) { transform: rotateY(-180deg)}
.spinner iframe:nth-child(6) { transform: rotateY(-225deg)}
.spinner iframe:nth-child(7) { transform: rotateY(-270deg)}
.spinner iframe:nth-child(8) { transform: rotateY(-315deg)}

.slider ~ span {
    color: white;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    /* margin-top: -6rem; */
    border-bottom: none;
    line-height: 0;

}

.slider ~ span:hover{
    color:#888;
    cursor: pointer;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

@media only screen and (max-width: 600px) {
    .spinner iframe{
        height:300px;
        width:400px;
        position:absolute;
        left:50%;
        transform-origin: 50% 50% -500px;
        outline: 1px solid transparent;
    }
    #dispvid {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: auto;
       
    }
  }